---
import { Icon } from "astro-icon";
import { twMerge } from "tailwind-merge";

interface Props {
  title: string;
  titleContainerClasses?: string;
  iconClasses?: string;
  paragraphs: string[][];
  href: string;
  btnTitle: string;
}

const {
  title,
  paragraphs,
  titleContainerClasses,
  iconClasses,
  href,
  btnTitle,
} = Astro.props;
---

<div class="flex flex-col items-center lg:items-start">
  <div
    class={twMerge(
      "flex flex-col lg:flex-row lg:items-end items-center justify-start lg:space-x-2",
      titleContainerClasses,
    )}
  >
    <h3 class="order-2 font-bold lg:order-1">{title}</h3>
  </div>
  {
    paragraphs.map((paragraph) =>
      paragraph.map((section) => (
        <p class="text-center lg:text-start">{section}</p>
      )),
    )
  }
  <a
    href={href}
    class="btn hover:ao-hover-blue-500 border-1 mt-12 bg-black px-8 py-1 text-white"
    target="_blank">{btnTitle}</a
  >
</div>
